/*简单的样式重置*/
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.notifyContainer{
    position:absolute;
    width:330px;
    height:100px;
    right:-330px;
    padding: 14px 34px 14px 13px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    background-color: #003452;
    box-shadow: 0 2px 12px 0 #87CEEB;
    transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
    overflow: hidden;
}
.closeNotify{
    width:14px;
    height:14px;
    position:absolute;
    top:18px;
    right:15px;
    cursor: pointer;
}
.notifyContent{
    color:#fff;
    font-size:14px;
}