/*简单的样式重置*/
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    overflow:hidden;
    position: relative;
}
.notifyWarnningBox{
    position: absolute;
    right:0;
    display: inline-block;
    height:calc(100% - 50px)
}
.notifyContainer{
    position: relative;;
    right:-330px;
    opacity:0;
    width:330px;
    height:100px;
    padding: 14px 34px 14px 13px;
    margin-bottom:16px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    background-color: #003452;
    box-shadow: 0 2px 12px 0 #87CEEB;
    transition: all 0.5s;
    -o-transition: all 0.5s; /*兼容parsto内核*/
    -moz-transition: all 0.5s; /*兼容gecko内核*/
    -webkit-transition: all 0.5s; /*兼容webkit内核*/
    overflow: hidden;
}
.closeNotify{
    width:14px;
    height:14px;
    position:absolute;
    top:18px;
    right:15px;
    cursor: pointer;
}
.notifyContent{
    color:#fff;
    font-size:14px;
}